@media (max-width: 34em) {
  .grid {
    row-gap: 4.8rem;
  }

  .section-product {
    margin: 2rem 1rem 2rem 1rem;
  }

  .product {
    grid-template-columns: 1fr;
    justify-self: center;
  }
  .text-product {
    padding: 0 2.4rem;
  }
  .btn-product {
    margin-bottom: 2rem;
  }
}
